@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: normal 1.6rem/1.6 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #514878;
  flex-direction:column;
}
:root {
    --duration: .4s;
}

.checker {
    display: block;
    font-size: 20vmin;
    height: 1em;
    width: 2.5em;
    box-sizing: content-box;
    padding: 0.15em;
    border-radius: 0.25em;
    transition: transform var(--duration) ease;
    cursor: pointer;
}

.checkmark {
    width: 1em;
    height: 1em;
    transition: transform var(--duration) ease;
    transform: translateX(-.4em);

    z-index: 5;

    svg {
        display: block;
        background: #e5e5e5;
        transform: translateX(.4em);
        border-radius: 0.15em;

        transition:
                background-color var(--duration) ease,
                transform calc(var(--duration) * 1.5) ease;

        path {
            // opacity: 0;
            stroke-dasharray: 90 90;
            stroke-dashoffset: 90;
            transition: stroke-dashoffset calc(var(--duration) / 3) linear calc(var(--duration) / 3);
        }

    }
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    visibility: hidden;

    &:checked {
        ~ .checkmark {
            transform: translate(1.9em);

            svg {
                background: #77c44c;
                transform: translate(-.4em);
                path { stroke-dashoffset: 0; }
            }
        }
    }
}

.check-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: white;
    z-index: 2;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: inherit;
    }

    &:after {
        background: white;
    }

    &:before {
        transition: transform var(--duration) ease;
        transform: translateY(30%);
        transform-origin: bottom center;
        background: black;
        filter: blur(.25em);
        opacity: 0.2;
        z-index: -1;
    }
}

.checker.checker {

    &:active {
        transform: scale(0.85);
        transition-duration: calc(var(--duration) / 2);

        .check-bg::before {
            transform: translateY(0) scale(0.8);
            opacity: 0.2;
        }
    }
}
*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
}

html {
    height: 100%;
}

body {
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



* {
  box-sizing: border-box;
}

body {
  background: #34495e;
  font-family: 'ZCOOL XiaoWei', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.radialSwitch{
.container {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  width: 280px;
  height: 170px;
}

.container h3 {
  color: #111;
  margin: 0 0 25px;
  position: relative;
  z-index: 2;
}

.checkbox-container {
  display: inline-block;
  position: relative;
}

.checkbox-container label {
  background-color: #aaa;
  border: 1px solid #fff;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-out;
  width: 45px;
  height: 25px;
  z-index: 2;
}

.checkbox-container label::after {
  content: ' ';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1.5px;
  left: 1px;
  transform: translateX(0);
  transition: transform 0.3s linear;
  width: 20px;
  height: 20px;
  z-index: 3;
}

.checkbox-container input {
  visibility: hidden;
  position: absolute;
  z-index: 2;
}

.checkbox-container input:checked + label + .active-circle {
  transform: translate(-50%, -50%) scale(15);
}

.checkbox-container input:checked + label::after {
  transform: translateX(calc(100% + 0.5px));
}

.active-circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 10px), calc(-50% - 2px)) scale(0);
  transition: transform 0.6s ease-out;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.checkbox-container.green .active-circle,
.checkbox-container.green input:checked + label {
  background-color: #47B881;
}

.checkbox-container.yellow .active-circle,
.checkbox-container.yellow input:checked + label {
  background-color: #F7D154;
}

.checkbox-container.purple .active-circle,
.checkbox-container.purple input:checked + label {
  background-color: #735DD0;
}

@media (max-width: 840px) {
  body {
    flex-direction: column;
  }
}

}

$width: 120px;
$padding: 7px;
$height: $width / 2 + $padding;


//toggle code begins!
.toggleSwitch {
  .switch-wrap {
    cursor: pointer;
    display: block;
    background: #15273b;
    padding: $padding;
    width: $width;
    height: $height;
    border-radius: $height / 2;
    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    input:checked {
      + .switch {
        grid-template-columns: 1fr 1fr 0fr;
        &::after {
          background-color: #52cf71;
        }
      }
    }
  }
  .switch {
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    transition: .2s;
    //ICYMI, pseudo elements are treated as grid items
    &::after {
      content: '';
      border-radius: 50%;
      background: #ccc;
      grid-column: 2;
      transition: background .2s;
    }
  }
}

.oldSchoolSwitch {


  main {
    flex-direction: column;
  }

  .item {
    align-self: stretch;
    padding: 2rem 0;
    text-align: center;

    &:not(:last-of-type) {
      border-bottom: 1px solid #ccc;
    }

    h3 {
      margin: 0 0 10px 0;
      font-weight: normal;
      font-size: 1.8rem;
      color: #666;
    }
  }

  $input-bg-static: #ddd;
  $input-bg-pseudo-active: #43A047;
  $input-bg-pseudo-static: #E53935;
  $input-bg-light-active: #FFFF00;

  $input-width: 8rem; // adjust only this number for dimensions

  $input-radius: calc( #{$input-width} / 2 );
  $input-height: calc( #{$input-width} / 2 );
  $input-light-dims: calc( #{$input-height} / 2.5 );

  .knob-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .light {
    display: inline-block;
    width: $input-light-dims;
    height: $input-light-dims;
    border-radius: 100%;
    background-color: $input-bg-static;
    margin: 0 0 0 1rem;
    box-shadow: 0 0 0 .25rem darken($input-bg-static, 7.5%);
    transition: background 400ms ease;
  }

  input[type="checkbox"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: $input-width;
    height: $input-height;
    background-color: $input-bg-static;
    border-radius: $input-radius;
    outline: none; // bad accessibility
    transition: background 450ms ease;
    box-shadow: 0 0 0 3px darken($input-bg-static, 7.5%);

    &:before, &:after {
      position: absolute;
      display: block;
      content: "";
      border-radius: 100%;
      transition:
              background 450ms ease,
              transform 450ms ease;
    }

    &:before {
      width: calc( #{$input-width} / 2 );
      height: $input-height;
      background-color: $input-bg-pseudo-static;
    }

    // active state
    &:checked {

      &:before {
        background-color: $input-bg-pseudo-active;
        transform: translateX(100%);
      }
    }

    // conic gradient
    &.conic {
      transition:
              background 450ms ease,
              transform 450ms ease;

      &:before {
        box-shadow: inset 0 0 0 3px darken($input-bg-pseudo-static, 20%);
        background: conic-gradient(
                        $input-bg-pseudo-static,
                        darken($input-bg-pseudo-static, 20%)
        );
      }

      &:checked {

        &:before {
          box-shadow: inset 0 0 0 3px darken($input-bg-pseudo-active, 20%);
          background: conic-gradient(
                          $input-bg-pseudo-active,
                          darken($input-bg-pseudo-active, 20%)
          );
          transform: translateX(100%) rotate(360deg);
        }
      }
    }

    // old school knob
    &.knob {
      background: linear-gradient(
                      to bottom,
                      darken($input-bg-static, 15%) 25%,
                      $input-bg-static 100%
      );
      &:before, &:after {
        transform: translate(0, -2px) rotate(0deg);
      }

      &:before {
        box-shadow:
                0 0 0 1px #ddd,
                0 0 0 1px #777;
        background: conic-gradient(
                        $input-bg-static,
                        darken($input-bg-static, 20%)
        );
      }

      &:after {
        width: calc( #{$input-width} / 2 );
        height: $input-height;
        box-shadow:
                inset 0 0 0 1.5px darken($input-bg-static, 30%),
                1.5px 1.5px 0 0 darken($input-bg-static, 25%),
                2.5px 2.5px 0 0 darken($input-bg-static, 25%),
                3px 3px 0 0 darken($input-bg-static, 25%);
      }

      &:checked {

        &:before {
          transform: translate(100%, -2px) rotate(360deg);
        }

        &:after {
          transform: translate(100%, -2px);
        }

        + .light {
          background-color: $input-bg-light-active;
        }
      }
    }
  }
}

.genderSwitch {
  .switch{
    background-color:white;
    width:30vw;
    height:10vw;
    position:absolute;
    border-radius:30vw;
    border:1vw solid #ccc;
    cursor: pointer;
    user-select: none;

  }
  .switch::before, .switch::after{
    content:'';
    width:10vw;
    height:10vw;
    background-color:white;
    position:absolute;
    border-radius:50%;
    top:-13%;
    left:-3%;
    transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
    transform-origin: right center;

  }
  .switch::before{
    border:1vw solid lightblue;
  }
  .switch::after{
    background:#FBD3E1;
    border:1vw solid pink;
  }
  input:checked + .switch:before {
    background: #D3F0FB;
    transform: translateX(198%);
    border:1vw solid pink;
  }
  input + .switch .female{
    color:pink;
  }
  input:checked + .switch .male{
    color:lightblue;
  }
  input + .switch .male{
    color:#ccc;
  }
  input:checked + .switch .female{
    color:#ccc;
  }
  input:checked + .switch:after {
    background: #D3F0FB;
    transform: translateX(198%);
    border:1vw solid lightblue;
  }
  .female, .male{
    position:absolute;
    font-weight:lighter;
    color:#ccc;
  }
  .female{
    z-index:-1;
    top:50%;
    left:2%;
    transform:rotate(180deg);
    font-size:10vw;
  }
  .male{
    z-index:-1;
    left:87%;
    top:-136%;
    font-size:10vw;
    transform:rotate(-50deg);
  }
  a .i1{
    width:10vh;
    bottom:2%;
    position:absolute;
    right:3%;
    text-decoration:none;
    color:#ccc;
    font-size:2vw;
    animation:bounce 2s alternate infinite;
  }
  .i1{
    opacity:0.5;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
}

.lampSwitch{
  .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:1em;
  }
  .rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
  }

  .rocker-small {
    font-size: 0.75em; /* Sizes the switch */
    margin: 1em;
  }

  .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
  }

  .rocker input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch-left,
  .switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
  }

  .switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
  }

  .switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
  }

  .switch-left::before,
  .switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
  }

  .switch-left::before {
    left: -0.4em;
  }

  .switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
  }

  input:checked + .switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
  }

  input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
  }

  input:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
  }

  input:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
  }

  /* Keyboard Users */
  input:focus + .switch-left {
    color: #333;
  }

  input:checked:focus + .switch-left {
    color: #fff;
  }

  input:focus + .switch-left + .switch-right {
    color: #fff;
  }

  input:checked:focus + .switch-left + .switch-right {
    color: #333;
  }
}


  .switch {
    position: relative;
  }

  .switch input {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
  }

  .switch label {
    height: 110px;
    width: 220px;
    background-color: #39315a;
    border-radius: 100px;
    display: block;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2), inset 0 0 5px -2px rgba(0,0,0,0.4);
  }

  .switch label .bulb {
    height: 90px;
    width: 90px;
    background-color: #4a426b;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 10px;
    display: block;
    transition: .7s;
    box-shadow: inset 0 0 1px 3px #4a426b, inset 0 0 6px 8px #423963, 0 20px 30px -10px rgba(0,0,0,0.4);
  }

  .switch label .bulb .bulb-center {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
    background-color: #5a527b;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transition: .7s;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 4px #635a84;
  }

  .switch label .bulb .bulb-center:after {
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    background-color: #7b7394;
    border-radius: 50%;
    position: absolute;
    transition: .7s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2px 4px #524a73;
  }

  .switch label .bulb .filament-1,
  .switch label .bulb .filament-2 {
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .switch label .bulb .filament-1:after,
  .switch label .bulb .filament-2:after,
  .switch label .bulb .filament-1:before,
  .switch label .bulb .filament-2:before {
    content: "";
    display: block;
    height: 6px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid #4a426b;
    position: absolute;
    transition: .7s;
    top: -4px;
    left: -2px;
    transform: rotate(-10deg);
  }

  .switch label .bulb .filament-1:before,
  .switch label .bulb .filament-2:before {
    left: 15px;
    transform: rotate(10deg);
  }

  .switch label .bulb .filament-2 {
    transform: translate(-50%, -50%) rotate(45deg) !important;
  }

  .reflections {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 90;
    perspective: 70px;
  }

  .reflections span {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-image: linear-gradient(-135deg, transparent 10%, rgba(255,255,255,0.3));
    position: absolute;
    left: -40px;
    bottom: -45px;
  }

  .reflections span:after {
    content: "";
    display: block;
    height: 35px;
    width: 20px;
    position: absolute;
    top: -36px;
    right: -40px;
    border-radius: 50%;
    box-shadow: 4px -2px 0 -3px rgba(255,255,255,0.4);
    filter: blur(1px);
    transform: rotate(-10deg);
  }

  .reflections:after {
    content: "";
    display: block;
    height: 80px;
    width: 50px;
    background-image: linear-gradient(80deg, rgba(255,255,255,0.05) 45%, rgba(255,255,255,0.5));
    border-radius: 10% 20% 50% 30%/30% 60% 30% 40%;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(-25deg) rotate(-35deg) skewx(-15deg) translate(10px, -20px);
    top: -8px;
    left: -5px;
  }

  .reflections:before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 30px;
    background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.15));
    bottom: 10px;
    right: 0px;
    transform: rotate(45deg);
  }

  .sparks .spark1 {
    display: block;
    height: 1px;
    width: 1px;
    background-color: #d1b82b;
    position: absolute;
    right: -5px;
    border-radius: 50%;
    bottom: 23px;
    transition: 0.4s;
    opacity: 0;
  }

  .sparks .spark2 {
    display: block;
    height: 3px;
    width: 3px;
    background-color: #d1b82b;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    bottom: 80px;
    transition: 0.4s;
    opacity: 0;
  }

  .sparks .spark3 {
    display: block;
    height: 3px;
    width: 3px;
    background-color: #d1b82b;
    position: absolute;
    left: 20px;
    border-radius: 50%;
    bottom: 80px;
    transition: 0.4s;
    opacity: 0;
  }

  .sparks .spark4 {
    display: block;
    height: 3px;
    width: 3px;
    background-color: #d1b82b;
    position: absolute;
    left: 20px;
    border-radius: 50%;
    bottom: 20px;
    transition: 0.4s;
    opacity: 0;
  }

  .switch input:checked ~ label .bulb {
    left: 120px;
    background-color: #a7694a;
    box-shadow: inset 0 0 1px 3px #a56758, inset 0 0 6px 8px #6b454f, 0 20px 30px -10px rgba(0,0,0,0.4), 0 0 30px 50px rgba(253,184,67,0.1);
  }

  .switch input:checked ~ label .bulb > .bulb-center {
    background-color: #feed6b;
    box-shadow: inset 0 0 0 4px #fdec6a, 0 0 12px 10px #bca83c, 0 0 20px 14px #a1664a;
  }

  .switch input:checked ~ label .bulb > .bulb-center:after {
    background-color: #fef401;
    box-shadow: 0 0 2px 4px #fdb843;
  }

  .switch input:checked ~ label .bulb >.filament-1:before,
  .switch input:checked ~ label .bulb >.filament-2:before,
  .switch input:checked ~ label .bulb >.filament-1:after,
  .switch input:checked ~ label .bulb >.filament-2:after {
    border-color: #fef4d5;
  }

  .switch input:checked ~ label .bulb > .sparks .spark1 {
    height: 1px;
    width: 1px;
    animation: spark1 2s ease-in-out;
    animation-delay: 0.4s;
  }

  .switch input:checked ~ label .bulb > .sparks .spark2 {
    height: 1px;
    width: 1px;
    animation: spark2 2.4s ease-in-out;
    animation-delay: 0.4s;
  }

  .switch input:checked ~ label .bulb > .sparks .spark3 {
    height: 1px;
    width: 1px;
    animation: spark3 2s ease-in-out;
    animation-delay: 0.9s;
  }

  .switch input:checked ~ label .bulb > .sparks .spark4 {
    height: 1px;
    width: 1px;
    animation: spark4 1.7s ease-in-out;
    animation-delay: 0.9s;
  }

  @-moz-keyframes spark1 {
    0% {
      right: -5px;
      height: 1px;
      width: 1px;
      opacity: 0;
    }

    20% {
      height: 3px;
      width: 3px;
      right: 0px;
      opacity: 1;
    }

    30% {
      right: -5px;
      opacity: 1;
      height: 3px;
      width: 3px;
    }

    70% {
      height: 3px;
      width: 3px;
    }

    100% {
      right: -60px;
      bottom: 40px;
      opacity: 0;
    }
  }

  @-webkit-keyframes spark1 {
    0% {
      right: -5px;
      height: 1px;
      width: 1px;
      opacity: 0;
    }

    20% {
      height: 3px;
      width: 3px;
      right: 0px;
      opacity: 1;
    }

    30% {
      right: -5px;
      opacity: 1;
      height: 3px;
      width: 3px;
    }

    70% {
      height: 3px;
      width: 3px;
    }

    100% {
      right: -60px;
      bottom: 40px;
      opacity: 0;
    }
  }

  @-o-keyframes spark1 {
    0% {
      right: -5px;
      height: 1px;
      width: 1px;
      opacity: 0;
    }

    20% {
      height: 3px;
      width: 3px;
      right: 0px;
      opacity: 1;
    }

    30% {
      right: -5px;
      opacity: 1;
      height: 3px;
      width: 3px;
    }

    70% {
      height: 3px;
      width: 3px;
    }

    100% {
      right: -60px;
      bottom: 40px;
      opacity: 0;
    }
  }

  @keyframes spark1 {
    0% {
      right: -5px;
      height: 1px;
      width: 1px;
      opacity: 0;
    }

    20% {
      height: 3px;
      width: 3px;
      right: 0px;
      opacity: 1;
    }

    30% {
      right: -5px;
      opacity: 1;
      height: 3px;
      width: 3px;
    }

    70% {
      height: 3px;
      width: 3px;
    }

    100% {
      right: -60px;
      bottom: 40px;
      opacity: 0;
    }
  }

  @-moz-keyframes spark2 {
    0% {
      height: 3px;
      width: 3px;
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    100% {
      right: -20px;
      bottom: 100px;
      opacity: 0;
    }
  }

  @-webkit-keyframes spark2 {
    0% {
      height: 3px;
      width: 3px;
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    100% {
      right: -20px;
      bottom: 100px;
      opacity: 0;
    }
  }

  @-o-keyframes spark2 {
    0% {
      height: 3px;
      width: 3px;
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    100% {
      right: -20px;
      bottom: 100px;
      opacity: 0;
    }
  }

  @keyframes spark2 {
    0% {
      height: 3px;
      width: 3px;
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    100% {
      right: -20px;
      bottom: 100px;
      opacity: 0;
    }
  }

  @-moz-keyframes spark3 {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 1;
      height: 2px;
      width: 2px;
    }

    100% {
      left: 0px;
      bottom: 100px;
      opacity: 0;
      height: 3px;
      width: 3px;
    }
  }

  @-webkit-keyframes spark3 {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 1;
      height: 2px;
      width: 2px;
    }

    100% {
      left: 0px;
      bottom: 100px;
      opacity: 0;
      height: 3px;
      width: 3px;
    }
  }

  @-o-keyframes spark3 {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 1;
      height: 2px;
      width: 2px;
    }

    100% {
      left: 0px;
      bottom: 100px;
      opacity: 0;
      height: 3px;
      width: 3px;
    }
  }

  @keyframes spark3 {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 1;
      height: 2px;
      width: 2px;
    }

    100% {
      left: 0px;
      bottom: 100px;
      opacity: 0;
      height: 3px;
      width: 3px;
    }
  }

  @-moz-keyframes spark4 {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 1;
      height: 2px;
      width: 2px;
    }

    100% {
      left: -20px;
      bottom: -10px;
      opacity: 0;
      height: 3px;
      width: 3px;
    }
  }

  @-webkit-keyframes spark4 {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 1;
      height: 2px;
      width: 2px;
    }

    100% {
      left: -20px;
      bottom: -10px;
      opacity: 0;
      height: 3px;
      width: 3px;
    }
  }

  @-o-keyframes spark4 {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 1;
      height: 2px;
      width: 2px;
    }

    100% {
      left: -20px;
      bottom: -10px;
      opacity: 0;
      height: 3px;
      width: 3px;
    }
  }

  @keyframes spark4 {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 1;
      height: 2px;
      width: 2px;
    }

    100% {
      left: -20px;
      bottom: -10px;
      opacity: 0;
      height: 3px;
      width: 3px;
    }
  }
.lockSwitch {
  $primary: #5628EE;
  $lightGrey: #99A3BA;

  .switch {
    height: 24px;
    display: block;
    position: relative;
    cursor: pointer;
    input {
      display: none;
      & + span {
        padding-left: 50px;
        min-height: 24px;
        line-height: 24px;
        display: block;
        color: $lightGrey;
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
        transition: color .3s ease;
        &:before,
        &:after {
          content: '';
          display: block;
          position: absolute;
          border-radius: 12px;
        }
        &:before {
          top: 0;
          left: 0;
          width: 42px;
          height: 24px;
          background: #E4ECFA;
          transition: all .3s ease;
        }
        &:after {
          width: 18px;
          height: 18px;
          background: #fff;
          top: 3px;
          left: 3px;
          box-shadow: 0 1px 3px rgba(#121621, .1);
          transition: all .45s ease;
        }
        em {
          width: 8px;
          height: 7px;
          background: $lightGrey;
          position: absolute;
          left: 8px;
          bottom: 7px;
          border-radius: 2px;
          display: block;
          z-index: 1;
          transition: all .45s ease;
          &:before {
            content: '';
            width: 2px;
            height: 2px;
            border-radius: 1px;
            background: #fff;
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            margin: -1px 0 0 -1px;
          }
          &:after {
            content: '';
            display: block;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border: 1px solid $lightGrey;
            border-bottom: 0;
            width: 6px;
            height: 4px;
            left: 1px;
            bottom: 6px;
            position: absolute;
            z-index: 1;
            transform-origin: 0 100%;
            transition: all .45s ease;
            transform: rotate(-35deg) translate(0, 1px);
          }
        }
        strong {
          font-weight: normal;
          position: relative;
          display: block;
          top: 1px;
          &:before,
          &:after {
            font-size: 14px;
            font-weight: 500;
            display: block;
            font-family: 'Mukta Malar', Arial;
            -webkit-backface-visibility: hidden;
          }
          &:before {
            content: 'Unlocked';
            transition: all .3s ease .2s;
          }
          &:after {
            content: 'Locked';
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 0;
            color: $primary;
            transition: all .3s ease;
            transform: translate(2px, 0);
          }
        }
      }
      &:checked {
        & + span {
          &:before {
            background: rgba($primary, .35);
          }
          &:after {
            background: #fff;
            transform: translate(18px, 0);
          }
          em {
            transform: translate(18px, 0);
            background: $primary;
            &:after {
              border-color: $primary;
              transform: rotate(0deg) translate(0, 0);
            }
          }
          strong {
            &:before {
              opacity: 0;
              visibility: hidden;
              transition: all .3s ease;
              transform: translate(-2px, 0);
            }
            &:after {
              opacity: 1;
              visibility: visible;
              transform: translate(0, 0);
              transition: all .3s ease .2s;
            }
          }
        }
      }
    }
  }

  html {
    -webkit-font-smoothing: antialiased;
  }

  * {
    box-sizing: border-box;
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }

  // Center & dribbble
  body {
    min-height: 100vh;
    font-family: 'Mukta Malar', Arial;
    line-height: 22px;
    font-size: 16px;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    align-items: center;
    .switch {
      display: table;
      margin: 12px auto;
      min-width: 118px;
    }
    .dribbble {
      position: fixed;
      display: block;
      right: 20px;
      bottom: 20px;
      img {
        display: block;
        height: 28px;
      }
    }
  }
}
.neonSwitch{
  .center {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
  }

  input[type="checkbox"] {
    margin:10px;
    position:relative;
    width:120px;
    height:40px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0,0,0,1);
  }

  input:checked[type="checkbox"] {
    background: linear-gradient(0deg, #70a1ff, #1e90ff);
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0,0,0,1);
  }

  input[type="checkbox"]:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:80px;
    height:40px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98,.96);
    transition:.5s;
  }

  input:checked[type="checkbox"]:before {
    left:40px;
  }

  input[type="checkbox"]:after{
    content:'';
    position:absolute;
    top:calc(50% - 2px);
    left:70px;
    width:4px;
    height:4px;
    background: linear-gradient(0deg, #6b6b6b, #000);
    border-radius: 50%;
    transition:.5s;
  }

  input:checked[type="checkbox"]:after {
    left:110px;
  }

  h1 {
    margin:0;
    padding:0;
    font-family: sans-serif;
    text-align:center;
    color:#fff;
    font-size:16px;
    padding:15px 0;
    text-transform: uppercase;
    letter-spacing:4px;
  }
}
$black:#1E1E1E;
$grey:#CCCCCC;
$white:#FFFFFF;

.zedDashSwitch {
  display:flex;
  flex-direction:column;
  align-items:center;
  span.switcher {
    position: relative;

    width:200px;
    height:50px;
    border-radius:25px;
    margin:20px 0;
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      width:200px;
      height:50px;
      border-radius:25px;
      background-color:#000000;
      outline:none;

      font-family: 'Oswald', sans-serif;
      &:before, &:after {
        z-index:2;

        position: absolute;
        top:50%;
        transform:translateY(-50%);

        color:$white;
      }
      &:before {
        content: 'ON';
        left:20px;
      }
      &:after {
        content: 'OFF';
        right:20px;
      }
    }
    label {
      z-index:1;
      position: absolute;
      top:10px;
      bottom:10px;

      border-radius:20px;
    }
    &.switcher-1 {
      input {
        transition:.25s -.1s;
        &:checked {
          background-color:$white;
          &:before {
            color:$white;
            transition: color .5s .2s;
          }
          &:after {
            color:$grey;
            transition: color .5s;
          }
          &+label {
            left:10px;
            right:100px;

            background:$black;

            transition: left .5s, right .4s .2s;
          }
        }
        &:not(:checked) {
          background:$black;
          transition: background .5s -.1s;
          &:before {
            color:$grey;
            transition: color .5s;
          }
          &:after {
            color:$black;
            transition: color .5s .2s;
          }
          &+label {
            left:100px;
            right:10px;

            background:$white;

            transition: left .4s .2s, right .5s, background .35s -.1s;
          }
        }
      }
    }
    &.switcher-2 {
      overflow:hidden;
      input {

        transition:background-color 0s .5s;
        &:before {
          color:$black;
        }
        &:after {
          color:$white;
        }
        &:checked {
          background-color:$white;
          &+label {
            background:$white;

            animation: turn-on .5s ease-out;

            @keyframes turn-on {
              0% {
                left:100%;
              }
              100% {
                left:0%;
              }
            }
          }
        }
        &:not(:checked) {
          background:$black;
          &+label {
            background:$black;

            animation: turn-off .5s ease-out;

            @keyframes turn-off {
              0% {
                right:100%;
              }
              100% {
                right:0%;
              }
            }
          }
        }
      }
      label {
        top:0px;

        width:200px;
        height:50px;
        border-radius:25px;
      }
    }
  }
}


$g: #bbb;
$b: #222;
$y: #ffffff;
$gr: #a6cd52;

.totoroSwitch {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  justify-content: center;
  padding: 12%;
  align-items: center;
  overflow: hidden;
  * {
    transform-style: preserve-3d;
  }
  .wrap {
    width: 275px;
    height: 100px;
    position: relative;
    box-shadow: 0 0 0 2px #eee, 0 0 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 500px;
    background: #fff;
    * {
      transition: 0.25s linear;
    }
    .totoro {
      position: absolute;
      width: 100px;
      height: 150px;
      left: 0px;
      top: -30px;
      background: $g;
      border-radius: 170px 170px 100px 100px / 300px 300px 200px 200px;
      z-index: 2;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 300vw;
        height: 300vh;
        left: -100vw;
        top: -100vh;

        z-index: -1;
        transform: translateZ(-10px);
        opacity: 0;
        transition: 0.5s ease-in-out;
        pointer-events: none;
      }
      &:after {
        z-index: 2;
        transform: translateZ(10px);
      }
      .ears {
        position: absolute;
        width: 90%;
        height: 40px;
        left: 5%;
        .ear {
          position: absolute;
          width: 10px;
          height: 25px;
          background: $g;
          top: -10px;
          left: 7.5px;
          border-radius: 700px 700px 500px 500px / 2750px 2750px 500px 500px;
          &:after {
            content: "";
            position: absolute;
            width: 4px;
            height: 15px;
            background: $g;
            left: calc(50% - 2px);
            bottom: -15px;
          }
          &:nth-of-type(2) {
            left: auto;
            right: 7.5px;
          }
        }
      }
      .foot {
        width: 40px;
        height: 20px;
        background: $g;
        position: absolute;
        bottom: 0;
        left: 5px;
        border-radius: 300px 200px 200px 200px / 200px 100px 100px 100px;
        transform-origin: top right;
        transform: rotate(0deg) scaleY(1) scaleX(1);
        &.two {
          left: auto;
          right: 5px;
          transform-origin: top left;
          border-radius: 200px 300px 200px 200px / 100px 200px 100px 100px;
        }
      }
      .arm {
        width: 25px;
        height: 60px;
        background: $g;
        position: absolute;
        left: 0px;
        z-index: -1;
        top: 50px;
        border-radius: 550px 100px 400px 400px / 700px 200px 600px 800px;
        transform: rotate(10deg);
        transform-origin: top right;
        &:nth-of-type(2) {
          left: auto;
          right: 0px;
          border-radius: 100px 550px 400px 400px / 200px 700px 800px 600px;
          transform: rotate(-10deg);
          transform-origin: top left;
        }
      }
      .body {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 170px 170px 100px 100px / 300px 300px 200px 200px;
        left: 0;
        top: 0;
        overflow: hidden;
        z-index: 2;
        .spots {
          position: absolute;
          width: 90%;
          height: 57.5%;
          background: $y;
          bottom: 10px;
          left: 5%;
          border-radius: 300px 300px 300px 300px / 300px 300px 500px 500px;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: $y;
            border-radius: 300px 300px 300px 300px / 300px 300px 500px 500px;
          }
          .spot {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50px;
            box-shadow: 0 -5px 0 darken($g, 20%);
            left: calc(50% - 6.5px);
            top: 10px;
            transform: translateZ(20px) scaleX(0.75) scale(0.75);
            &:nth-of-type(2),
            &:nth-of-type(3) {
              top: 15px;
              left: calc(50% - 25px);
            }
            &:nth-of-type(3) {
              left: calc(50% + 10px);
            }
            &:nth-of-type(n + 4) {
              top: 30px;
              left: 10px;
            }
            &:nth-of-type(5) {
              left: 30px;
            }
            &:nth-of-type(6) {
              left: 50px;
            }
            &:nth-of-type(7) {
              left: 70px;
            }
            &:before,
            &:after {
              content: "";
              position: absolute;
              width: 5px;
              height: 10px;
              background: darken($g, 20%);
              border-radius: 200%;
              left: -2.5px;
              transform: rotate(45deg);
              bottom: 10px;
            }
            &:after {
              transform: rotate(-45deg);
              left: 10px;
            }
          }
        }
        .inner {
          position: absolute;
          width: 100%;
          height: 30px;
          top: 15px;
          &:before {
            content: "";
            position: absolute;
            width: 17.5px;
            height: 6px;
            background: #222;
            left: calc(50% - 8.75px);
            top: 10px;
            border-radius: 200px 200px 100px 100px / 100px 100px 50px 50px;
          }
          .mouth {
            position: absolute;
            width: 50px;
            height: 10px;
            background: repeating-linear-gradient(
                            to right,
                            #fff,
                            #fff 10px,
                            #222 10px,
                            #222 11px,
                            #fff 11px
            );
            bottom: 0px;
            left: calc(50% - 25px);
            border-radius: 25px 25px 300px 300px / 25px 25px 200px 200px;
            box-shadow: inset 0 0 0 1px darken($g, 10%);
          }
          .eye {
            position: absolute;
            top: 5px;
            width: 12.5px;
            height: 12.5px;
            background: $b;
            left: 20px;
            border-radius: 100%;
            box-shadow: inset 0 0 0 1px darken($g, 10%), inset 0 0 0 4.5px #fff;
            &:nth-of-type(2) {
              left: auto;
              right: 20px;
            }
          }
        }
      }
    }
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 999;
      opacity: 0;
      &:checked {
        & ~ .totoro {
          transform: translateX(180px) translateY(-5px);
          transition: 0.5s linear;
          &:before {
            opacity: 1;
          }
          &:after {
            opacity: 0.25;
          }
          * {
            transition: 0.5s linear;
          }
          .foot {
            transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-delay: 0.45s, 0.45s;
            transform: rotate(-75deg) scaleY(1.5) scaleX(1.5) translateY(-10px)
            translateX(10px);
            &.two {
              transform: rotate(75deg) scaleY(1.5) scaleX(1.5)
              translateY(-10px) translateX(-10px);
            }
          }
          .arm {
            transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-delay: 0.45s, 0.45s;
            transform: rotate(40deg) translateX(7.5px);
            &:nth-of-type(2) {
              transform: rotate(-40deg) translateX(-7.5px);
            }
          }
          .ears {
            .ear {
              left: 70px;
              animation: ear1 1s ease-in-out infinite alternate;
              transform-origin: -20% 120%;
              @keyframes ear1 {
                to {
                  transform: rotate(5deg) translateY(-2.5px);
                }
              }
              &:nth-of-type(2) {
                left: auto;
                right: 70px;
                animation: ear2 1s ease-in-out infinite alternate;
                transform-origin: 120% 120%;
                @keyframes ear2 {
                  to {
                    transform: rotate(-5deg) translateY(-2.5px);
                  }
                }
              }
            }
          }
          .body {
            .mouth {
              box-shadow: inset 0 0 0 2px darken($g, 35%);
              height: 2px;
              bottom: 2.5px;
              width: 20px;
              left: calc(50% - 10px);
            }
            .spots {
              &:before {
                animation: breathe2 1s ease-in-out infinite alternate;
                transform-origin: bottom;
                @keyframes breathe2 {
                  to {
                    transform: scale(1.025);
                  }
                }
              }
            }
            .inner{
              &:before{
                animation:shake 3s ease-in-out infinite;
                @keyframes shake{
                  90%{
                    transform:translateX(0px);
                  }
                  91%{
                    transform:translateX(1px);
                  }
                  92%{
                    transform:translateX(0px);
                  }
                  93%{
                    transform:translateX(-1px);
                  }
                  94%{
                    transform:translateX(0px);
                  }
                }
              }
            }
            .inner,
            .spots {
              .spot {
                animation: breathe 1s ease-in-out infinite alternate;
                @keyframes breathe {
                  to {
                    transform: translateZ(20px) scaleX(0.8) scale(0.75)
                    translateY(-5px) rotateX(-20deg);
                  }
                }
              }
              .eye {
                box-shadow: inset 0 0 0 1px darken($g, 35%),
                inset 0 0 0 4.5px #fff;
                height: 2px;
                width: 7.5px;
                transform: translateX(7.5px);
                &:nth-of-type(2) {
                  transform: translateX(-7.5px);
                }
              }
              animation: roll1 0.5s linear 1 forwards;
              @keyframes roll1 {
                0% {
                  transform: translateX(0%);
                }
                50% {
                  transform: translateX(100%) rotateY(150deg);
                }
                50.001% {
                  transform: translateX(-100%) rotateY(-150deg);
                }
                100% {
                  transform: translateX(0%);
                }
              }
            }
          }
        }
      }
    }
  }
}

.elasticSwitch{
  .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .label-text {
    margin-left: 8px;
  }

  .toggle {
    isolation: isolate;
    position: relative;
    height: 24px;
    width: 48px;
    border-radius: 15px;
    background: #d6d6d6;
    overflow: hidden;
  }

  .toggle-inner {
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 22px;
    width: 46px;
    border-radius: 15px;
    overflow: hidden;
  }

  .active-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    background: #003dda;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.05s linear 0.17s;
  }

  .toggle-state {
    display: none;
  }

  .indicator {
    height: 100%;
    width: 200%;
    background: white;
    border-radius: 13px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  }

  .toggle-state:checked ~ .active-bg {
    transform: translate3d(-50%, 0, 0);
  }

  .toggle-state:checked ~ .toggle-inner .indicator {
    transform: translate3d(25%, 0, 0);
  }
}

.smileySwitch{
  #container {
    width: 12.25rem;
    height: 5.5rem;
    margin: 0;
    grid-area: main;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  .toggle {
    position: absolute;
    width: 12.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  [type="checkbox"] {
    display: none;
  }

  .check-label {
    display: block;
    width: 12.25rem;
    height: 5.5rem;
    border: none;
    border-radius: 3rem;
    background: #d7d7d7;
    cursor: pointer;
    overflow: hidden;
    .face {
      display: block;
      position: absolute;
      content: '';
      top: 0.45rem;
      bottom: 0;
      right: 7.25rem;
      width: 4.5rem;
      height: 4.5rem;
      margin: 0;
      border: none;
      border-radius: 3rem;
      background: -webkit-linear-gradient(45deg, #dedede 0%, #fff 70%);
      background: -o-linear-gradient(45deg, #dedede 0%, #fff 70%);
      background: linear-gradient(45deg, #dedede 0%, #fff 70%);
      -webkit-transition: all 0.45s ease-in-out;
      -o-transition: all 0.45s ease-in-out;
      transition: all 0.45s ease-in-out;
      overflow: hidden;
    }
  }

  [type="checkbox"] {
    + .check-label #background {
      width: inherit;
      height: inherit;
      border: none;
      border-radius: inherit;
      background: -webkit-gradient(linear, right top, left top, from(#f39ab6), to(#f39af3));
      background: -webkit-linear-gradient(right, #f39ab6, #f39af3);
      background: -o-linear-gradient(right, #f39ab6, #f39af3);
      background: linear-gradient(to left, #f39ab6, #f39af3);
      opacity: 0;
      -webkit-transition: all 0.45s ease-in-out;
      -o-transition: all 0.45s ease-in-out;
      transition: all 0.45s ease-in-out;
    }
    &:checked + .check-label #background {
      opacity: 1;
    }
  }

  .face-container {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
  }

  .face {
    -webkit-box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
  }

  .eye {
    position: absolute;
    top: 2.25rem;
    height: 0.25rem;
    width: 0.625rem;
    background: #8e8e8e;
    border-radius: 0 0 100% 50%;
    &.left {
      left: 0.75rem;
    }
    &.right {
      left: 2.125rem;
    }
  }

  .mouth {
    position: absolute;
    top: 3.125rem;
    left: 1.45rem;
    width: 0.475rem;
    height: 0.25rem;
    background: #8e8e8e;
    border-radius: 40% 40% 100% 50%;
  }

  [type="checkbox"] {
    &:checked {
      + .check-label .face {
        right: 0.6rem;
        .face-container {
          -webkit-animation: rotateElement forwards 0.3s;
          animation: rotateElement forwards 0.3s;
        }
        .eye {
          &.left, &.right {
            -webkit-animation: changeFace forwards 0.3s 0.075s;
            animation: changeFace forwards 0.3s 0.075s;
          }
        }
        .mouth {
          -webkit-animation: changeMouth forwards 0.3s 0.075s;
          animation: changeMouth forwards 0.3s 0.075s;
        }
      }
      + .check-label .face .eye {
        &.left {
          left: 1rem;
        }
        &.right {
          left: 2.5rem;
        }
      }
    }
    + .check-label .face {
      .face-container {
        -webkit-animation: rotateElementReverse forwards 0.3s;
        animation: rotateElementReverse forwards 0.3s;
      }
      .eye {
        &.left, &.right {
          -webkit-animation: changeFaceReverse forwards 0.3s;
          animation: changeFaceReverse forwards 0.3s;
        }
      }
      .mouth {
        -webkit-animation: changeMouthReverse forwards 0.3s;
        animation: changeMouthReverse forwards 0.3s;
      }
    }
  }

  @-webkit-keyframes rotateElement {
    0% {
      left: 0;
    }

    25% {
      left: 4rem;
    }

    30% {
      opacity: 0;
    }

    50% {
      opacity: 0;
      left: -4rem;
    }

    90% {
      opacity: 1;
    }

    100% {
      left: 1rem;
      opacity: 1;
    }
  }


  @keyframes rotateElement {
    0% {
      left: 0;
    }

    25% {
      left: 4rem;
    }

    30% {
      opacity: 0;
    }

    50% {
      opacity: 0;
      left: -4rem;
    }

    90% {
      opacity: 1;
    }

    100% {
      left: 1rem;
      opacity: 1;
    }
  }


  @-webkit-keyframes changeFace {
    100% {
      top: 1.7rem;
      width: 0.375rem;
      height: 0.375rem;
      background: #8e8e8e;
      border: none;
      border-radius: 100%;
    }
  }


  @keyframes changeFace {
    100% {
      top: 1.7rem;
      width: 0.375rem;
      height: 0.375rem;
      background: #8e8e8e;
      border: none;
      border-radius: 100%;
    }
  }


  @-webkit-keyframes changeMouth {
    100% {
      top: 2.55rem;
      left: 1.125rem;
      height: 0.625rem;
      width: 1.625rem;
      background: #8e8e8e;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
      background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
      background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
      background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
      border-radius: 0.2rem 0.2rem 1rem 1rem;
    }
  }


  @keyframes changeMouth {
    100% {
      top: 2.55rem;
      left: 1.125rem;
      height: 0.625rem;
      width: 1.625rem;
      background: #8e8e8e;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
      background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
      background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
      background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
      border-radius: 0.2rem 0.2rem 1rem 1rem;
    }
  }


  @-webkit-keyframes rotateElementReverse {
    0% {
      left: 0;
    }

    25% {
      left: -4rem;
    }

    30% {
      opacity: 0;
    }

    50% {
      opacity: 0;
      left: 4rem;
    }

    90% {
      opacity: 1;
    }

    100% {
      left: 0;
      opacity: 1;
    }
  }


  @keyframes rotateElementReverse {
    0% {
      left: 0;
    }

    25% {
      left: -4rem;
    }

    30% {
      opacity: 0;
    }

    50% {
      opacity: 0;
      left: 4rem;
    }

    90% {
      opacity: 1;
    }

    100% {
      left: 0;
      opacity: 1;
    }
  }


  @-webkit-keyframes changeFaceReverse {
    0% {
      top: 1.7rem;
      width: 0.375rem;
      height: 0.375rem;
      border: none;
      border-radius: 100%;
      background: #8e8e8e;
    }
  }


  @keyframes changeFaceReverse {
    0% {
      top: 1.7rem;
      width: 0.375rem;
      height: 0.375rem;
      border: none;
      border-radius: 100%;
      background: #8e8e8e;
    }
  }


  @-webkit-keyframes changeMouthReverse {
    0% {
      top: 2.55rem;
      left: 0.9rem;
      height: 0.625rem;
      width: 1.625rem;
      background: #8e8e8e;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
      background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
      background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
      background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
      border: none;
      border-radius: 0.2rem 0.2rem 1rem 1rem;
    }

    25% {
      left: 1.125rem;
    }
  }


  @keyframes changeMouthReverse {
    0% {
      top: 2.55rem;
      left: 0.9rem;
      height: 0.625rem;
      width: 1.625rem;
      background: #8e8e8e;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
      background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
      background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
      background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
      border: none;
      border-radius: 0.2rem 0.2rem 1rem 1rem;
    }

    25% {
      left: 1.125rem;
    }
  }
}

.rollingSwitch{
  text-align: center;
  *,
  *::before,
  *::after {
    transition: 400ms all ease-in-out 50ms;
    box-sizing: border-box;
    backface-visibility: hidden;
  }

  input[type="checkbox"] {
    display: none;
  }

  a{ color: rgba(43,43,43,1); text-decoration: none; padding: 10px; border-bottom: 2px solid rgba(43,43,43,1); }

  a:hover{ background: rgba(43,43,43,1); color: rgba(255,255,255,1); }


  /*Button is :CHECKED*/

  input[type="checkbox"]:checked ~ div {
    background: rgba(73,168,68,1);
    box-shadow: 0 0 2px rgba(73,168,68,1);
  }

  input[type="checkbox"]:checked ~ div label {
    left: 110px;
    transform: rotate(360deg);
  }


  /*shared*/

  div,
  label {
    border-radius: 50px;
  }


  /*'un':checked state*/

  div {
    height: 100px;
    width: 200px;
    background: #2b2b2b;
    position: relative;
    box-shadow: 0 0 2px #2b2b2b;
    margin: 0 auto;

  }

  label {
    height: 80px;
    width: 80px;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }

  label::before {
    content: '';
    height: 60px;
    width: 5px;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 2.5px);
    transform: rotate(45deg);
  }

  label::after {
    content: '';
    height: 5px;
    width: 60px;
    position: absolute;
    top: calc(50% - 2.5px);
    left: calc(50% - 30px);
    transform: rotate(45deg);
  }

  label::before,
  label::after{
    background: rgba(43,43,43,1);
    border-radius: 5px;
  }

  /* pesduo class on toggle */

  input[type="checkbox"]:checked ~ div label::before{
    height: 50px;
    top: calc(55% - 25px);
    left: calc(60% - 2.5px);
    background: rgba(73,168,68,1);
  }
  input[type="checkbox"]:checked ~ div label::after{
    width: 20px;
    top: calc(95% - 25px);
    left: calc(22.5% - 2.5px);
    background: rgba(73,168,68,1);
  }
}
.dayNight{
  .toggleWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    padding: 0 200px;
    transform: translate3d(-50%, -50%, 0);

    input {
      position: absolute;
      left: -99em;
    }
  }

  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 90px;
    height: 50px;
    background-color: #83D8FF;
    border-radius: 90px - 6;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &:before {
      content: 'AM';
      position: absolute;
      left: -50px;
      top: 15px;
      font-size: 18px;
    }

    &:after {
      content: 'PM';
      position: absolute;
      right: -48px;
      top: 15px;
      font-size: 18px;
      color: #749ED7;
    }
  }

  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 50px - 6;
    height: 50px - 6;
    background-color: #FFCF96;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform:  rotate(-45deg);

    .crater {
      position: absolute;
      background-color: #E8CDA5;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      border-radius: 100%;
    }

    .crater--1 {
      top: 18px;
      left: 10px;
      width: 4px;
      height: 4px;
    }

    .crater--2 {
      top: 28px;
      left: 22px;
      width: 6px;
      height: 6px;
    }

    .crater--3 {
      top: 10px;
      left: 25px;
      width: 8px;
      height: 8px;
    }
  }

  .star {
    position: absolute;
    background-color: #ffffff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
  }

  .star--1 {
    top: 10px;
    left: 35px;
    z-index: 0;
    width: 30px;
    height: 3px;
  }

  .star--2 {
    top: 18px;
    left: 28px;
    z-index: 1;
    width: 30px;
    height: 3px;
  }

  .star--3 {
    top: 27px;
    left: 40px;
    z-index: 0;
    width: 30px;
    height: 3px;
  }

  .star--4,
  .star--5,
  .star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .star--4 {
    top: 16px;
    left: 11px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px,0,0);
  }

  .star--5 {
    top: 32px;
    left: 17px;
    z-index: 0;
    width: 3px;
    height: 3px;
    transform: translate3d(3px,0,0);
  }

  .star--6 {
    top: 36px;
    left: 28px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px,0,0);
  }

  input:checked {
    + .toggle {
      background-color: #749DD6;

      &:before {
        color: #749ED7;
      }

      &:after {
        color: #ffffff;
      }

      .toggle__handler {
        background-color: #FFE5B5;
        transform: translate3d(40px, 0, 0) rotate(0);

        .crater { opacity: 1; }
      }

      .star--1 {
        width: 2px;
        height: 2px;
      }

      .star--2 {
        width: 4px;
        height: 4px;
        transform: translate3d(-5px, 0, 0);
      }

      .star--3 {
        width: 2px;
        height: 2px;
        transform: translate3d(-7px, 0, 0);
      }

      .star--4,
      .star--5,
      .star--6 {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
      .star--4 {
        transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }
      .star--5 {
        transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }
      .star--6 {
        transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }
    }
  }
}
.invertSwitch{
  .btn{
    border: 3px solid #1a1a1a;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
  }

  input[type="radio"].toggle {
    display: none;
    & + label{
      cursor: pointer;
      min-width: 60px;
      &:hover{
        background: none;
        color: #1a1a1a;
      }
      &:after{
        background: #1a1a1a;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
        width: 100%;
        z-index: -1;
      }
    }
    &.toggle-left + label {
      border-right: 0;
      &:after{
        left: 100%
      }
    }
    &.toggle-right + label{
      margin-left: -5px;
      &:after{
        left: -100%;
      }
    }
    &:checked + label {
      cursor: default;
      color: #fff;
      transition: color 200ms;
      &:after{
        left: 0;
      }
    }
  }
}

.flatSwitch{
  label {
    width: 150px;
    height: 75px;
    background-color: #d55050;
    box-shadow: inset 0px 6px 0px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }

  input:checked ~ label {
    background-color: #50d5a1;
  }

  input:checked ~ label div.s {
    margin-left: 74px;
  }

  label div.s {
    width: 70px;
    height: 64px;
    background-color: #fafafa;
    border-radius: 8px;
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow: 0px 5px 0px 0px #d2d2d2;
    cursor: pointer;
  }

  label div div.d {
    width: 7px;
    height: 7px;
    background-color: #ebebeb;
    position: relative;
    border-radius: 2.5px;
    box-shadow: inset 0px 1.5px 0px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
  }

  label div div.d:nth-child(1) {
    left: 18px;
    top: 15px;
  }

  label div div.d:nth-child(2) {
    left: 32px;
    top: 15px;
  }

  label div div.d:nth-child(3) {
    left: 46px;
    top: 15px;
  }

  label div div.d:nth-child(4) {
    left: 18px;
    top: 28px;
  }

  label div div.d:nth-child(5) {
    left: 32px;
    top: 28px;
  }

  label div div.d:nth-child(6) {
    left: 46px;
    top: 28px;
  }

  label div div.d:nth-child(7) {
    left: 18px;
    top: 42px;
  }

  label div div.d:nth-child(8) {
    left: 32px;
    top: 42px;
  }

  label div div.d:nth-child(9) {
    left: 46px;
    top: 42px;
  }

  input {
    display: none;
    appearance: none;
  }
}

.neon2Switch{
  #switch{
    top: 50%;
    left: 50%;
    width: 75px;
    height: 40px;
  }

  .toggle{
    position: absolute;
    border: 2px solid #444249;
    border-radius: 20px;
    -webkit-transition: border-color .6s  ease-out;
    transition: border-color .6s  ease-out;
    box-sizing: border-box;
  }

  .toggle.toggle-on{
    border-color: rgba(137, 194, 217, .4);
    -webkit-transition: all .5s .15s ease-out;
    transition: all .5s .15s ease-out;
  }

  .toggle-button{
    position: absolute;
    top: 4px;
    width: 28px;
    bottom: 4px;
    right: 39px;
    background-color: #444249;
    border-radius: 19px;
    cursor: pointer;
    -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
  }

  .toggle-on .toggle-button{
    top: 3px;
    width: 65px;
    bottom: 3px;
    right: 3px;
    border-radius: 23px;
    background-color: #89c2da;
    box-shadow: 0 0 16px #4b7a8d;
    -webkit-transition: all .2s .1s, right .1s;
    transition: all .2s .1s, right .1s;
  }


  .toggle-text-on{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */


    color: rgba(0,0,0,0);
  }

  .toggle-on .toggle-text-on{
    color: #3b6a7d;
    -webkit-transition: color .3s .15s ;
    transition: color .3s .15s ;
  }

  .toggle-text-off{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    cursor: pointer;

    color: #444249;
  }

  .toggle-on .toggle-text-off{
    color: rgba(0,0,0,0);
  }

  /* used for streak effect */
  .glow-comp{
    position: absolute;
    opacity: 0;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 6px;
    background-color: rgba(75, 122, 141, .1);
    box-shadow: 0 0 12px rgba(75, 122, 141, .2);
    -webkit-transition: opacity 4.5s 1s;
    transition: opacity 4.5s 1s;
  }

  .toggle-on .glow-comp{
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
}
$brown: #7e2804;
$orange: #fe7702;
$darkBrown: #3d2526;
$yellow: #fdb300;
$tan: #dcc8a3;
.bearSwitch{
  .toggleWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 200px;
    transform: translate3d(-50%, -50%, 0);

    input {
      position: absolute;
      left: -99em;
    }
  }

  .toggle {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 90px;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    background-color: $tan;
    border-radius: 90px - 6;
    z-index: 2;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 40px - 6;
    height: 40px - 6;
    background-color: $brown;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
  }

  input:checked {
    + .toggle {

      &:after {
        color: #ffffff;
      }

      .toggle__handler {
        transform: translate3d(49px, 0, 0) rotate(0);
      }
      + .bear-body {
        transform: rotateY(180deg);
      }
    }
  }

  .bear-body {
    position: relative;
    border-radius: 20px 10px 5px;

    border-bottom: 150px solid $brown;
    border-left: 20px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 94px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      top: -16px;
      background: radial-gradient($tan 5px, $brown 6px);
    }
    &::before {
      left: -12.5px;
    }
    &::after {
      right: -12.5px;
    }
    .eye {
      position: absolute;
      top: 18px;
      background: $darkBrown;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-image: radial-gradient(circle at 4px, white 1px, $darkBrown 2px);

      &.left {
        left: 20px;
        animation: blink 3s ease-in-out infinite;
      }
      &.right {
        left: 46px;
        animation: blink 3.5s ease-in-out infinite;
      }
    }
  }

  @keyframes blink {
    85% {
      transform: rotateX(0deg);
    }
    90% {
      transform: rotateX(90deg);
    }
  }

}
